<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/global.css" />
</head>
<body>
    <div class="page-container">
        <section class="main-container">
            <section class="content-container">
                <section class="content-shell">
                    <div class="content-wrapper content-has-breadcrumb">
                        <nav class="breadcrumb-nav">
                            <a title="Home" href="/">Home</a>
                            <a title="Account" href="/account/log-in">Account</a>
                            <span>@ViewData["Title"]</span>
                        </nav>
                        <header class="content-header">
                            <h1 class="content-header-h1">@ViewData["Title"]</h1>
                        </header>
                        <article class="article-content">
                            @if (TempData["MembershipMessage"] is string message && !string.IsNullOrWhiteSpace(message))
                            {
                                <p>@message</p>
                            }
                            @RenderBody()
                        </article>
                    </div>
                </section>
            </section>
        </section>
    </div>
</body>
</html>
