@inherits UmbracoViewPage<BlockListItem>

@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Core.Models.PublishedContent

@addTagHelper *, Clean.Core

@{
    var row = Model.Content;
    var settings = Model.Settings;
    if (settings?.Value<bool>("hide") ?? false) { return; }

    var link = row?.Value<Link>("link");
    var icon = row?.Value<IPublishedContent>("icon");
    if (link == null || icon == null) { return; }
}

<li class="list-inline-item">
    <a href="@link.Url" target="@link.Target" rel="@(link.Type == LinkType.External ? "noopener" : null)" title="@link.Name">
        <our-svg media-item="@icon" class="social-icon"></our-svg>
    </a>
</li>
